@charset "utf-8";
/* CSS Document */

#container { 
width:700px;	
background-image: url(../images/med/med_bg_fruit.jpg); 
}

#logo { 
	background-image:url(../images/med/med_logo.png); 
	height:100px; 
}

nav {
	padding-top:110px;
}

nav ul{ 
	font-size:18px; 
}
 
nav ul a { 
	width:114px; 
}

#maincontent { 
	margin-left:5px; 
	width: 355px; 
}

#vision { 
	background-image:url(../images/med/med_hero.jpg); 
	width: 289px; 
	height:222px; 
	padding-top:45px; 
	padding-right:350px; 
	font-size:26px; 
}

.pod { 
	width: 305px; 
}
 
.podContent { 
	width: 302px; 
	height:180px; 
}
 
#events { 
	margin-left:7px; 
}

#news { 
	float:left; 
	width:650px; 
	margin-top:20px; 
}

#footer p { 
	margin-left:5px; 
}